@using Microsoft.AspNetCore.Identity
@using Domain.Repository
@using WebApp.Pages.Cart
@inject SignInManager<IdentityUser> _signInManager
@inject UserManager<IdentityUser> _userManager
@inject IUnitOfWork unitOfWork
@{
    CartModel cart = new CartModel(unitOfWork);
    var lastestOrderDetail = new Domain.Entities.OrderDetail();
    if (_signInManager.IsSignedIn(User))
    {
        cart.OrderDetails = unitOfWork.OrderDetail.Get().AsQueryable()
    .Where(orderDetail => orderDetail.Order.Customer.ApplicationUserId == _userManager.GetUserId(User)
                       && !orderDetail.Order.IsPaid)
    .ToList();
        lastestOrderDetail = cart.OrderDetails.Count > 0
        ? cart.OrderDetails.OrderByDescending(orderDetail => orderDetail.OrderId).FirstOrDefault()
        : lastestOrderDetail;
    }

    var orderDetailCount = 0;

    if (lastestOrderDetail.OrderId != 0)
    {
        var latestOrderId = lastestOrderDetail.OrderId;
        var matchingOrderDetails = unitOfWork.OrderDetail.Get()
            .Where(orderDetail => orderDetail.OrderId == latestOrderId)
            .ToList();

        orderDetailCount = matchingOrderDetails.Count;
    }
    
}


<ul class="navbar-nav text-end">
@if (_signInManager.IsSignedIn(User))
    {

        <li class="nav-item">
                @if (User.IsInRole("Customer"))
                {
                    @if (orderDetailCount == 0)
                    {
                    <a class="nav-link " asp-area="" asp-page="/Index">
                        <i class="fa-solid fa-cart-shopping fa-xl" style="position: relative;">
                            <span class="fs-6" style="color: #ff0000; position: absolute; top: -10px; right: -10px;">@orderDetailCount</span>
                        </i>
                    </a>
                    }
                    else
                    {
                    <a class="nav-link " asp-area="" asp-page="/Cart/Cart" asp-route-OrderId="@lastestOrderDetail.OrderId">
                        <i class="fa-solid fa-cart-shopping fa-xl" style="position: relative;">
                            <span class="fs-6" style="color: #ff0000; position: absolute; top: -10px; right: -10px;">@orderDetailCount</span>
                        </i>
                    </a>
                    }
                }
        </li>
        <li class="nav-item text-end">
            @if (User.IsInRole("Customer"))
            {
                <a href="/Customer_Pages/Details?id=@_userManager.GetUserId(User)" class="nav-link ">Hello @_userManager.GetUserName(User) </a>
                
            } 
            
            @if (User.IsInRole("LaundryStore")){
                <a href="/Store_Pages/Details?id=@_userManager.GetUserId(User)" class="nav-link ">Hello @_userManager.GetUserName(User) </a>
            }
        </li>
            <li class="nav-item">
                <form method="post" asp-page="/Account/Logout">
                    <button type="submit" class="btn nav-link">Log out</button>
                </form>
            </li>

    }   else
    {
        <p class="text-end">
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-page="/Account/Login">Login</a>
            </li>
        </p>
@*         @await Html.PartialAsync("_LoginPartialCustom",
    new CartModel(unitOfWork)) *@

    }
</ul>
